<%- include('partials/header'); %>

<div class="container-fluid">
    <div class="row pt-3 pb-3">
        <div class="col-sm">
            <div class="border">
                <div class="overflow-auto p-2" style="height: 250px;">
                    <!-- Get messages here! -->
                    Chat messages go here
                </div>
                <div class="border rounded">
                    <input type="text" class="w-100">
                </div>
            </div>
        </div>
        <div class="col-sm">
            <form action=<%=`/lobby/${lobbyID}/upload`%> enctype="multipart/form-data" method="POST">
                <% if (lobbyState === "NEW") { %>
                    <input type="file" name="saveFile" id="saveFile">
                <% } else { %>
                    <input type="file" name="saveFile" id="saveFile" disabled>
                <% } %>

                <% if (lobbyState === "NEW") { %>
                    <button type="submit" class="btn btn-muted" id="uploadButton" disabled>Upload Save File</button>
                <% } else { %>
                    <button type="submit" class="btn btn-success" id="uploadButton" disabled>Upload Successful</button>
                <% } %>
            </form>
            <% if (lobbyState !== "DOWNLOADS") { %> 
            <form action=<%=`/lobby/${lobbyID}/swap`%> method="POST" id="swapButtonForm">
            <% } else { %> 
            <form action=<%=`/lobby/${lobbyID}/download`%> method="POST" id="swapButtonForm">
            <% } %> 
                <% if (lobbyState === "NEW") { %>
                    <button type="submit" class="btn btn-muted w-100" id="swapButton" disabled>Please upload save file...</button>
                <% } else if (lobbyState === "UPLOADING") { %>
                    <button type="submit" class="btn btn-muted w-100" id="swapButton" disabled>Waiting on other players...</button>
                <% } else if (lobbyState === "UPLOADED") { %>
                    <button type="submit" class="btn btn-primary w-100" id="swapButton">Swap Save Data</button>
                <% } else if (lobbyState === "READYING") { %>
                    <button type="submit" class="btn btn-success w-100" id="swapButton" disabled>Readying Swap...</button>
                <% } else if (lobbyState === "DOWNLOADS" || lobbyState === "RENEWING") { %> 
                    <button type="submit" class="btn btn-primary w-100" id="swapButton">Download</button>
                <% } %> 
            </form>
            <form action=<%= `/lobby/${lobbyID}/reset` %> id="resetButtonForm" method="post">
                <% if (lobbyState === "DOWNLOADS") {%> 
                <button type="submit" class="btn btn-primary w-100" id="resetButton">Reset Lobby</button>
                <% } else if (lobbyState === "RENEWING") { %>
                <button type="submit" class="btn btn-success w-100" id="resetButton" disabled>Waithing on other players...</button>
                <% } else { %> 
                <button type="submit" class="btn btn-muted w-100" id="resetButton" disabled hidden>You shouldn't see me...</button>
                <% } %> 
            </form>
        </div>
    </div>
</div>

<!-- TODO: Always allow loging out; handle it on the server -->
<div class="p3 mb-3">
    <form action=<%=`/lobby/${lobbyID}/logout`%> method="POST">
        <% if (lobbyState === "NEW") { %> 
        <button class="btn btn-primary" type="submit" id="logoutButton">Logout</button>
        <% } else { %> 
        <button class="btn btn-primary" type="submit" disabled id="logoutButton">Cannot Logout...</button>
        <% } %> 
    </form>
</div>

<script>

// access document elements
var upload_button = document.getElementById('uploadButton');
var swap_button = document.getElementById('swapButton');
var file_upload = document.getElementById('saveFile');
var swap_button_form = document.getElementById('swapButtonForm');
var reset_button = document.getElementById('resetButton');

var logout_button = document.getElementById('logoutButton');

// determine lobby url
const lobby_url = "/lobby/" + "<%=lobbyID%>";

// predefine upload check
async function checkUploads() {
    while(true) {
            const uploads_remaining = await fetch(lobby_url + "/check-uploads", {
                method: 'get',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
            }).then(res=>res.json()).then(res=>res['remaining']);
            if (uploads_remaining === undefined) {
                console.log('is problem')
            } else if (uploads_remaining === 0) {
                break;
            } else {
                swap_button.innerText = `Waiting on ${uploads_remaining} players...`;
            }
            await new Promise(res => setTimeout(res, 3000));
    }

    // when all ready, change button to ready and update state
    swap_button.className = "btn btn-primary w-100";
    swap_button.disabled = false;
    swap_button.innerText = "Swap Save Data";
}

async function checkSwap() {
    while(true) {
        var status_result = await fetch(
            lobby_url + "/check-swap", {
                method: 'get',
                headers: {
                    'Accept': 'application/json',
                },
            }
        ).then(res=>res.json());
        if (status_result['remaining']=== undefined){
            console.log('is problem');
        } else if (status_result['remaining'] === 0) {
            if (status_result['downloads']) {
                break;
            }
            else {
                swap_button.innerText = 'Running Swap...';
                swap_button.className = "btn btn-success w-100";
                swap_button.disabled = true;
            }
        } else {
            swap_button.innerText = `Waiting on ${status_result['remaining']} players...`;
            swap_button.className = "btn btn-success w-100";
            swap_button.disabled = true;
        }
        await new Promise(res => setTimeout(res, 3000));
    }

    // change button to download (could also check for successful swapping)
    // TODO: send update to server for state preserving reloadability
    swap_button_form.action = lobby_url + "/download";
    swap_button.disabled = false;
    swap_button.className = "btn btn-primary w-100";
    swap_button.innerText = "Download";

    reset_button.className = "btn btn-primary w-100";
    reset_button.disabled = false;
    reset_button.hidden = false;
    reset_button.innerText = "Reset Lobby";
}

async function checkReset() {
    while(true){
        var status_result = await fetch(
            lobby_url + "/check-reset", {
                method: 'get',
                headers: {
                    'Accept': 'application/json',
                }
            }
        ).then(res=>res.json());
        if (status_result['remaining'] === undefined) {
            console.log('is problem');
        } else if (status_result['remaining'] === 0) {
            break;
        } else {
            reset_button.innerText = `Waiting on ${status_result['remaining']} players...`;
            reset_button.className = "btn btn-success w-100";
            reset_button.disabled = true;
        }
        await new Promise(res => setTimeout(res, 3000));
    }

    // reload page
    window.location.href = window.location.href;
}

// aesthetic disabling for upload button
file_upload.addEventListener('change', async () => {
    if (file_upload.value === ""){
        upload_button.disabled = true;
        upload_button.className = "btn btn-muted";

    } else {
        upload_button.disabled = false;
        upload_button.className = "btn btn-primary";
    }
});

// check server for upload status
upload_button.addEventListener('click', async () => {
    // TODO: could limit number of tries and set sleep time ?
    //upload_button.disabled = true;
    logout_button.disabled = true;
    logout_button.innerText = "Cannot Logout...";
    while(true){
        var status_result = await fetch(
            lobby_url + "/check-upload-success", {
                method: 'get',
                headers: {
                    'Accept': 'application/json'
                }
            }
        ).then(res=>res.json()).then(res=>res['status']);
        if(status_result != 'NONE'){
            break;
        }
    }
    if (status_result === 'UPLOADED'){
        // lock out more uploads
        upload_button.className = "btn btn-success";
        upload_button.disabled = true;
        upload_button.innerText = "Upload Successful";

        swap_button.innerText = "Waiting on other players...";

        file_upload.disabled = true;

        // check for other player upload statuses
        await checkUploads();
        // no need to update server state (it's updated when uploads remaining is 0)

    } else {
        upload_button.className = "btn btn-danger";
        // TODO: flash error message
    }
});

// check server for swapping status
swap_button.addEventListener('click', async () => {
    //swap_button.disabled = true;
    await checkSwap();

});

reset_button.addEventListener('click', async () => {
    await checkReset();
})

</script>

<% if (lobbyState === "UPLOADING") { %>
    <script>
    document.addEventListener("DOMContentLoaded", async () => {
        await checkUploads();
    });
    </script>
<% } else if (lobbyState === "READYING") { %>
    <script>
    document.addEventListener("DOMContentLoaded", async () => {
        await checkSwap();
    })
    </script>
<% } else if (lobbyState === "RENEWING") { %>
    <script>
    document.addEventListener("DOMContentLoaded", async () => {
        await checkReset();
    })
    </script>
<% } %>

<%- include('partials/footer'); %>