<%- include('partials/header'); %>

<div class="container-fluid">
    <div class="row pt-3 pb-3">
        <div class="col-sm">
            <div class="border">
                <div class="overflow-auto p-2" style="height: 250px;">
                    <!-- Get messages here! -->
                    Chat messages go here
                </div>
                <div class="border rounded">
                    <input type="text" class="w-100">
                </div>
            </div>
        </div>
        <div class="col-sm">
            <form action=<%=`/lobby/${lobbyID}/upload`%> enctype="multipart/form-data" method="POST">
                <input type="file" name="saveFile" id="saveFile">
                <% if (lobbyState === undefined) { %>
                    <button type="submit" class="btn btn-muted" id="uploadButton" disabled>Upload Save File</button>
                <% } else if (lobbyState === "UPLOAD_SUCCESS") { %>
                    <button type="submit" class="btn btn-success" id="uploadButton" disabled>Upload Successful</button>
                <% } %>
            </form>
            <form action=<%=`/lobby/${lobbyID}/swap`%> method="POST">
                <% if (lobbyState === undefined) { %>
                    <button type="submit" class="btn btn-muted w-100" id="swapButton" disabled>Please upload save file...</button>
                <% } else if (lobbyState === "UPLOAD_SUCCESS") { %>
                    <button type="submit" class="btn btn-muted w-100" id="swapButton" disabled>Waiting on other players...</button>
                <% } %>
            </form>
        </div>
    </div>
</div>

<div class="p3 mb-3">
    <form action="/logout" method="POST">
        <button class="btn btn-primary" type="submit">Logout</button>
    </form>
</div>

<script>
// TODO: send lobby-player state to server
// this helps with reloading consistent content
// and manages ui field access.

// access document elements
var upload_button = document.getElementById('uploadButton');
var swap_button = document.getElementById('swapButton');
var file_upload = document.getElementById('saveFile');

// aesthetic disabling for upload button
file_upload.addEventListener('change', async () => {
    if (file_upload.value === ""){
        upload_button.disabled = true;
        upload_button.className = "btn btn-muted";

        // send state update to server
        const result = await fetch("/lobby/" + "<%=lobbyID%>" + "/update-lobby-status", {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                lobby_state: undefined,
            })
        });

    } else {
        upload_button.disabled = false;
        upload_button.className = "btn btn-primary";
    }
});

// check server for upload status
upload_button.addEventListener('click', async () => {
    // TODO: could limit number of tries and set sleep time ?
    while(true){
        var status_result = await fetch(
            "/lobby/" + "<%=lobbyID%>" + "/check-upload-success", {
                method: 'get',
                headers: {
                    'Accept': 'application/json'
                }
            }
        ).then(res=>res.json()).then(res=>res['status']);
        if(status_result != 'waiting'){
            break;
        }
    }
    if (status_result === 'success'){
        // lock out more uploads
        upload_button.className = "btn btn-success";
        upload_button.disabled = true;
        upload_button.innerText = "Upload Successful";

        swap_button.innerText = "Waiting on other players...";

        // send state update to server
        const result = await fetch("/lobby/" + "<%=lobbyID%>" + "/update-lobby-status", {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                lobby_state: 'UPLOAD_SUCCESS',
            })
        });
    } else {
        upload_button.className = "btn btn-danger"
        // TODO: flash error message
    }
});
</script>

<%- include('partials/footer'); %>